@font-face{
    font-family: 'VacAppFont';
    src: url('quicksand.eot');
    src: url('quicksand.ttf') format('woff'), url('quicksand.woff') format('truetype');
}

/* ANDROID TAB WIDGET WILL APPEAR ON BOTTOM */
.km-android .km-view:not(.km-splitview) {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/* NO UNDERLINED LINKS */
a{
    text-decoration: none;
}

/* TRANSITION FOR INPUTS TO TURN WHITE AGAIN AFTER ERRORS ARE DETECTED */
/*input:focus{
    background-color:rgb(255,255,255) !important;
    -webkit-transition: background-color 500ms linear;
}*/

body{
    background-color:rgb(255,255,255);
}

input,textarea,select{
    color:rgb(0,0,0)!important;
}

h1{
    font-family:VacAppFont;
    color:rgb(88,220,145);
}

/* WRAPPER USED TO CENTER THE ELEMENTS ON THE SCREEN */
.wrapper-center{
    text-align: center;
}

/* STYLE OF THE HEADER FOR THE LAYOUTS */
.header-wrapper{
    display:table;
    width:100%;
    height:10%;
    background-color:rgb(88,220,145);
}

.header{
    font-family:VacAppFont;
    font-size:180%;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

.header-content{
    color:rgb(255,255,255);
}

.footer{
    background-color:rgb(255,255,255) !important;
    height:10%;
    padding-top:1.9%;
}

[data-role="button"]{
    background-color:rgb(88,220,145)!important;
    color:rgb(255,255,255)!important;
    border-radius:40px!important;
}

#settings-button{
    background-color:transparent!important;
    color:rgb(255,255,255)!important;
    height:100%;
    border:none;
    position:absolute;
    vertical-align:middle;
    top:0%;
    left:-2%;
    z-index:10;
}

#cloud-button{
    background-color:transparent!important;
    color:rgb(255,255,255)!important;
    height:100%;
    border:none;
    position:absolute;
    vertical-align:middle;
    top:0%;
    right:-2%;
    z-index:10;    
}

.app-name{
    position:absolute;
    text-align:center;
    vertical-align:center;
    left:34.4%;
}

.login-error{    
    text-align: center;
    color:rgb(255,255,255);
}

/* VACCINE ENTRIES */
.vaccine-entry-a{
    background-color:rgb(88,220,145);
    background-image:url(../styles/images/backv1.png);
    background-position:right bottom;
    background-repeat:no-repeat;
}

.vaccine-entry-b{
    background-color:rgb(160,219,186);
    background-image:url(../styles/images/backv2.png);
    background-position:left top;
    background-repeat:no-repeat;
}

.vaccine-title{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-top:10px;
    padding-left:15px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.vaccine-date{
    font-family:VacAppFont;
    color:rgb(0,0,0);    
    padding-bottom:10px;
    padding-left:15px;
}

/* PRESCRIPTION ENTRIES */
.prescription-entry-a{
    background-color:rgb(134,190,231);
    background-image:url(../styles/images/backp1.png);
    background-position:right bottom;
    background-repeat:no-repeat;
}

.prescription-entry-b{
    background-color:rgb(186,212,232);
    background-image:url(../styles/images/backp2.png);
    background-position:right bottom;
    background-repeat:no-repeat;
}

.prescription-title{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-top:10px;
    padding-left:15px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.prescription-date{
    font-family:VacAppFont;
    color:rgb(0,0,0);    
    padding-bottom:10px;
    padding-left:15px;
}

.prescription-text{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

#new-prescription-text{
    height:100px;
    text-align:top;
}

.prescription-dose-block{
    display:inline-block !important;
}

.prescription-dose-input{
    width:30px !important;
    text-align:right !important;
}

/* PHR ENTRIES */
.phr-entry-a{
    background-color:rgb(221,221,221);
    background-image:url(../styles/images/backphr1.png);    
    background-position:right bottom;
    background-repeat:no-repeat;
}

.phr-entry-b{
    background-color:rgb(255,255,255);
    background-image:url(../styles/images/backphr2.png);    
    background-position:left bottom;
    background-repeat:no-repeat;
}

.phr-title{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-top:10px;
    padding-left:15px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.phr-date{
    font-family:VacAppFont;
    color:rgb(0,0,0);    
    padding-bottom:10px;
    padding-left:15px;
}

.phr-text{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


/* IMAGES */
.welcome-image {
    background-image: url(../styles/images/appbuilder.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 250px;
    display: block;
    margin: 0px auto;
}
.logo-image {
    background-image: url(../styles/images/logo.png);
    background-repeat: no-repeat;
    width: 319px;
    height: 60px;
    display: block;
    margin: 0px auto;
}

/* RETINA DISPLAY STYLES */
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .welcome-image {
        background-image: url(../styles/images/appbuilder2x.png);
        background-size: 100%;
    }
    .logo-image {
        background-image: url(../styles/images/logo2x.png);
        background-size: 100%;
    }
    .w-icon {
        background-image: url(../styles/images/sprite-weather2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home {
        background-image: url(../styles/images/location2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home:active {
        background-image: url(../styles/images/location_active2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search {
        background-image: url(../styles/images/search2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search:active {
        background-image: url(../styles/images/search_active2x.png);
        background-size: 100%;
    }
}
