@font-face{
    font-family: 'VacAppFont';
    src: url('quicksand.eot');
    src: url('quicksand.ttf') format('woff'), url('quicksand.woff') format('truetype');
}

/* NO UNDERLINED LINKS */
a{
    text-decoration: none;
}

/* TRANSITION FOR INPUTS TO TURN WHITE AGAIN AFTER ERRORS ARE DETECTED */
/*input:focus{
    background-color:rgb(255,255,255) !important;
    -webkit-transition: background-color 500ms linear;
}*/

h1{
    font-family:VacAppFont;
    color:rgb(88,220,145);
}

/* WRAPPER USED TO CENTER THE ELEMENTS ON THE SCREEN */
.wrapper-center{
    text-align: center;
}

/* STYLE OF THE HEADER FOR THE LAYOUTS */
.header{
    background-color:rgb(88,220,145);
    font-family:VacAppFont;
    font-size:180%;
    color:rgb(255,255,255);
    height:10%;
    display:inline-block;
    position:relative;
}

.footer{
    background-color:rgb(255,255,255) !important;
    height:10%;
    padding-top:1.9%;
}

[data-role="button"]{
    background-color:rgb(88,220,145)!important;
    color:rgb(255,255,255)!important;
}

#settings-button{
    text-align:left;
    font-size:100%;
    position:absolute;
    top:22%;
    left:3%;
    z-index:10;
}
/*#settings-button:active{
    content:url("images/settings.png");
    width:25px;
    height:25px;
}*/

#cloud-button{
    text-align:right;
    font-size:100%;
    position:absolute;
    top:17%;
    right:3%;
    z-index:10;    
}

.app-name{
    position:absolute;
    text-align:center;
    vertical-align:center;
    left:34.4%;
}

.login-error{    
    text-align: center;
    color:rgb(255,255,255);
}

/* VACCINE ENTRIES */
.vaccine-entry{
    background-color:rgb(88,220,145);
    border-style:outset;
    border-color:rgb(88,220,145);
}

.vaccine-title{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-top:10px;
    padding-left:15px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.vaccine-date{
    font-family:VacAppFont;
    color:rgb(0,0,0);    
    padding-bottom:10px;
    padding-left:15px;
}

/* PRESCRIPTION ENTRIES */
.prescription-entry{
    background-color:rgb(134,190,231);
    border-style:outset;
    border-color:rgb(134,190,231);
}

.prescription-title{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-top:10px;
    padding-left:15px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.prescription-date{
    font-family:VacAppFont;
    color:rgb(0,0,0);    
    padding-bottom:10px;
    padding-left:15px;
}

.prescription-text{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-bottom:10px;
    padding-left:15px;
    overflow:hidden;
    text-overflow:ellipsis;
}

#new-prescription-text{
    height:100px;
    text-align:top;
}

#new-prescription-dose-block{
    display:inline-block !important;
}

.new-prescription-dose-input{
    width:25px !important;
    text-align:right !important;
}

/* PHR ENTRIES */
.phr-entry{
    background-color:rgb(255,255,255);
    border-style:outset;
    border-color:rgb(255,255,255);
}

.phr-title{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-top:10px;
    padding-left:15px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.phr-date{
    font-family:VacAppFont;
    color:rgb(0,0,0);    
    padding-bottom:10px;
    padding-left:15px;
}

.phr-text{
    font-family:VacAppFont;
    color:rgb(0,0,0);
    padding-bottom:10px;
    padding-left:15px;
    overflow:hidden;
    text-overflow:ellipsis;
}

.header-text{
    padding-top:2.5%;
}

/* IMAGES */
.welcome-image {
    background-image: url(../styles/images/appbuilder.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 250px;
    display: block;
    margin: 0px auto;
}
.logo-image {
    background-image: url(../styles/images/logo.png);
    background-repeat: no-repeat;
    width: 319px;
    height: 60px;
    display: block;
    margin: 0px auto;
}

/* RETINA DISPLAY STYLES */
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .welcome-image {
        background-image: url(../styles/images/appbuilder2x.png);
        background-size: 100%;
    }
    .logo-image {
        background-image: url(../styles/images/logo2x.png);
        background-size: 100%;
    }
    .w-icon {
        background-image: url(../styles/images/sprite-weather2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home {
        background-image: url(../styles/images/location2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home:active {
        background-image: url(../styles/images/location_active2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search {
        background-image: url(../styles/images/search2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search:active {
        background-image: url(../styles/images/search_active2x.png);
        background-size: 100%;
    }
}
